header {

    background-color: rgb(73, 157, 231);
    background-image: url("../img/pattern.png");
    background-size: 290px;
    padding-top: 30px;
   
}

#logo {
    width: 150px;
}

main p{
    margin-bottom: 0px;
}

main p span {
    color: rgb(73, 157, 231);
}

.piccola{
    font-size: xx-small;
    margin-top: 0px;
}