header {

    background-color: rgb(73, 157, 231);
    background-image: url("../img/pattern.png");
    background-size: 290px;
    padding-top: 30px;
    height: 100%;
   
}

#logo {
    width: 150px;
}

main p{
    margin-bottom: 0px;
}

main p span {
    color: rgb(73, 157, 231);
}

.piccola{
    font-size: xx-small;
    margin-top: 0px;
    margin-bottom: 20px;
}

.contenitori-immagini{
    display: flex;
    gap: 10px;
    padding: 0%;
    height: 100%;
}
.paragrafi-margini-zero {
   margin-top: 0px;
}

.sottolineato {
   background-color: yellow;
   color: black;
}
.lista-non-ordinata-padding-left-dieci{
    padding-left: 10px;
}